name: Deploy Website

run-name: Deploy Website

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy Website
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup mix
        uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.14.4'
          otp-version: '26.0'
      
      - name: Install Dependencies
        run: mix deps.get

      - name: Build Website
        run: mix docs
      
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc
